---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import ParentDirectoryLink from '../components/ParentDirectoryLink.astro';
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
  showParentDirectoryLink?: boolean;
  parentHref?: string;
}

const {
  title = '',
  description,
  showParentDirectoryLink = true,
  parentHref,
} = Astro.props;

const pageTitle = title ? `David McCoy - ${title}` : 'David McCoy';
const h1Title = title ? `/david-mccoy/${title}` : '/david-mccoy/software-engineer';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={pageTitle} description={description} />
  </head>
  <body class="font-mono text-sm p-4 bg-white min-h-screen antialiased">
    <h1 class="text-2xl font-bold mb-4">Index of {h1Title}</h1>
    {showParentDirectoryLink && <ParentDirectoryLink href={parentHref} />}
    <div>
      <slot />
    </div>
    <Footer />
  </body>
</html>
